.container{
    background-color: silver;
    display: block;
    margin: 0px auto;
    padding: 1%;
    width: 950px;
}

.main {
    background-color: red; 
    height: 400px;
    margin-left: .86%;
    padding: 3.3% 0%;
    width: 700px;  
}

.side-nav {
    background-color: blue;
    height: 300px;
    margin-right: .86%;
    vertical-align: top;
    width: 200px;    
}

.sub-content {
    background-color: yellow;
    height: 200px;
    width: 210px;
    margin: 0% .75%;
}

.top-nav {
    background-color: green;
    height: 150px;
    margin-bottom: 1.5%; 
}

#advertisement {
    background-color: purple;
    height: 120px;
    margin-top: 2.2%;
    width: 660px;   
}

#advertisement, .bloqueUno, .main {
    text-align: center;
}

#advertisement, .main, .side-nav, .sub-content {
    display: inline-block;
}

#advertisement, .bloqueUno, .container, .main, .side-nav, .top-nav {
    box-sizing: border-box;
}
